/* Float demo */
.container-1, .container-3 {
  height: 400px;
  background-color: #666;
}

.box-1 {
  height: 600px;
  float: left;
  width: 20%;
  margin: 2% 2%;
}

.box-2 {
  height: 600px;
  float: left;
  width: 46%;
  margin: 2% 2%;
}
.box-3{
  height: 600px;
  float: left;
  width: 20%;
  margin: 2% 2%;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
}

.color-2 {
  background-color: red;
}

.color-3 {
  background-color: orange;
}

.color-4 {
  background-color: green
}
